*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;  
   font-weight: 200;


}

html,body{
   height: 100%;
   width: 100%;

}
/* #0B0B0B */
@font-face {
   font-family: plain light;
   src: url(../FONT/plain-light-webfont_1.ttf);
}
@font-face {
   font-family: plain regular;
   src: url(../FONT/plain-regular-webfont.ttf);
}
@font-face {
   font-family: silkserif light;
   src: url(../FONT/silkserif-lightitalic-webfont_1.ttf);
}
@font-face {
   font-family: silkserif regular;
   src: url(../FONT/silkserif-regularitalic-webfont.ttf);
}
#main{
   position: relative;
}

#loader{
   position: absolute;
   height: 100vh;
   width: 100%;
   background-color: #0B0B0B;
   padding: 8vw 6vw;
}
.line{
   display: flex;
   text-transform: uppercase ;
   height: fit-content;
   overflow: hidden;
}
.line h4, .line h5{
   font-family: silkserif light;
}
.line h5{
   font-size: 3.25vw;
   margin: 0 1vw 0 4.5vw;
   width: 5vw;
   text-align: right;
}
.line h4{
   font-size: 3.25vw;
   margin: 0 5vw 0 0;
}
#your{
   display: flex; 
   justify-content: center;
}
.line h1{
   font-family: plain regular;
   line-height: 7vw;
   font-size: 7.5vw;
   font-weight: 500;
}
.line h2{
   font-family: plain regular;
   padding: 0 0 0 1.5vw;
   line-height: 7vw;
   font-size: 7.5vw;
   font-weight: 500;
   animation-name: anime;
   animation-iteration-count: infinite;
   animation-duration: 4s;
}

@keyframes anime {
   0%{
      font-family: plain regular;
      color: #fff;
      opacity: 1;
   }
   48%{
      font-family: plain regular;
      color: #fff;
      opacity: 0;
   }
   50%{
      font-family: silkserif regular;
      -webkit-text-stroke: 0.5px white;
      color: black;
      opacity: 1;
   }
   98%{
      font-family: silkserif regular;
      -webkit-text-stroke: 1px white;
      color: black;
      opacity: 0;
   }
   100%{
      font-family: silkserif regular;
      -webkit-text-stroke: 0.5px white;
      color: black;
      opacity: 1;
   }
   148%{
      font-family: silkserif regular;
      -webkit-text-stroke: 1px white;
      color: black;
      opacity: 0;
   }
}

#page1{
   position: absolute;  
   height: 100vh;
   width: 100%;  
   background-color: #151515;
   
 
}



