*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 200;
}

html,body{
   height: 100%;
   width: 100%;

}

#main{
   height: 100%;
   width: 100%;
   background-color: rgb(28, 28, 28);
  
}
#page1{
   width: 100%;
   height: 100%;
   background-color: rgb(92, 172, 229);
   position: relative;


}
#page2{
   width: 100%;
   height: 100%;
   background-color: rgb(252, 120, 120);
   position: relative;

   
}
#page3{
   width: 100%;
   height: 100%;
   background-color: rgb(140, 227, 139);
   position: relative;
   
}
#circle{
   width: 300px;
   height: 300px;
   background: linear-gradient(blue, red);
   border-radius: 50%;
   position: absolute;
   top: 25%;
   left: 35%;
   
}















