*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 200;
}
@font-face {
  font-family: 'Gigi';
  src: url('../FONT/GIGI.TTF')
}

html,body{
   height: 100%;
   width: 100%;

}
body{
   overflow-x: hidden;

}
#main{
   height: 100%;
   width: 100%;
  
}
#page1{
   width: 100%;
   height: 100%;
   background-color: black;
}
#page2{
   width: 100%;
   height: 100%;
   background-color: rgb(49, 111, 245);

}
#page3{
   width: 100%;
   height: 100%;
   background-color: black;
}
#page2 h1{
   font-size: 35vw;
   font-weight: 500;
   color: aqua;
   font-family: Gigi;
}


/* 
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet"> */